{% extends 'layouts/base.html.twig' %}

{% block title %}Liste des Pins{% endblock %}

{% block body %}
    {% if pins|length > 0 %}
        <h1 class="text-center text-muted mb-4">{{pluralize(pins|length, 'Pin')}} </h1>
        
        {% for row in pins|batch(3) %}
            <div class="row mb-5">
                {% for pin in row %}
                    <div class="col-md-4">
                        <article class="pin bg-white rounded shadow">
                            <div class="mw-100 overflow-hidden">
                                <a href="{{ path('pins_show', {id: pin.id}) }}">
                                    <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.jpg')) | 
                                    imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}" class="w-100 rounded-top"/>
                                </a>
                            </div>
                            {# on doit mettre l'id pour show, donc id: = la clé, id.pin l'id a retourner#}
                            <h2 class="h5 pl-3 pt-3"><a class="text-secondary text-decoration-none" href="{{ path('pins_show', {id: pin.id}) }}">{{ pin.title }}</a></h2>
                           <!-- <p>{{ pin.description|u.truncate(10, '...', false) }}</p> -->
                            <p class="text-muted pl-3 pb-3"><small>Créé par ... {{ pin.createdAt|ago }}</small></p>
                        </article>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
           <p class="h1 text-center mt-5">Il n y a pas de pin.<a href="{{ path('pins_create') }}">Sois le premier !</a></p>
    {% endif %}       
{% endblock %}
